@use '../../../variables/colors.scss' as *;

.questions__accordions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}

.questions__accordion-head {
    display: flex;
    background-color: $light-color;
    justify-content: space-between;
    padding: 10px 30px;
    cursor: pointer;
}
.questions__accordion-head:hover {
    background-color: #E7E9F1;
}

.questions__arrow {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
}
.questions__arrow_back {
    transform: rotate(-90deg);
}

.questions__accordion-h {
    margin: 0;
}

.questions__accordion-p {
    margin: 0;
    padding: 10px 30px;
    border: 1px solid $light-color;
    display: none;
}

.questions__accordion-p_active {
    display: block;
}

@media (max-width: 670px) {
    .questions__accordion-head {
        h3 {
            font-size: 15px;
            padding-right: 15px;
        }
    }
}